.content{
    color: black;
}

.message{
    /* box-sizing: border-box; */
    width: fit-content;
    display: flex;
    align-items: center;
    color: black !important;
    max-width: 70vw;
}

.message_user{
    background-color: dodgerblue !important;
    margin-left: auto;
    text-align: left;
    color: white !important;
    max-width: 70vw;
}

.box{
    padding-top: 20px;
}